*{
    margin:0;
    padding:0;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;   
}

.navbar {
    margin-bottom: 0;
    background-color:black;
    height: 75px;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

#myNavbar.li{
    color: black;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: green;
   
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallaxdusbam{
    padding-top:75px;
    background-image:url(../images/dusunbambutag.jpg);
    min-height: 500px;
}

.about{
    background-color: green;
    color: white;
    
}



