*{
    margin:0;
    padding:0;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;   
}

@font-face{
    font-family: "something";
    src: url("../fonts/Remained Black.ttf");
}

.navbar {
    margin-bottom: 0;
    background-color:black;
    height: 75px;
    z-index: 9999;
    border: 0;
    font-size: 12px;
    line-height: 1.42857143;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
}

#myNavbar.li{
    color: black;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
    color: green;
    
}
.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff;
}

footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
}

.parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallaxdusbam{
    padding-top:75px;
    background-image:url(../images/dusunbambutag.jpg);
    min-height: 600px;
}

.vision{
    background-color: green;
    color: white;
    
    padding-top:40px;
    padding-bottom: 0;
}

.mission{
    background-color: green;
    color: white;
    
    padding-top:10px;
    padding-bottom: 0;
}

.visionTitle{
    font-family: "something";
    font-size:80px;
    padding-top:2px;
    padding-left:80px;
}

.missionTitle{
    font-family: "something";
    font-size: 80px;
    padding-top:5px;
    padding-left: 50px;
}

.menuHome{
    color:white;
}

.detailAbout{
    border: darkgreen 2px;
}

#contact{
    background-image:url(../images/backgroundContact.jpg);
    color: white;
    padding: 40px;
    font-size: 15px;
    float:left;
}





