*{
    margin:0;
    padding:0;
}

.white{
    background-color: white;
    margin: 100px;
    padding: 60px;
}

.title{
    text-align: center;
    text-decoration-style: none;
    color: black;
}

.title:hover{
    color: skyblue;
}

.pasopatiTitle{
    background-image:url("../images/nightpasopati.jpg");
        min-height: 400px;
        background-attachment: fixed;
        background-size: contain;
        background-repeat: no-repeat;
        margin:-20px;
}

#bandung{
    position: absolute;
    left: 0;
    top: 35%;
    width: 100%;
    text-align: center;
    font-size: 400%;
    color: white;
    
}